# Ignore the virtual environment (it's huge and unnecessary)
venv/
env/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Build folders (if you made an .exe)
build/
dist/
*.spec

# Ignore your personal config (so your location doesn't go public)
mh7q_config.json
config.json

# Ignore System files
.DS_Store
